@model Vidracaria_Portal.Models.Administrador.Servicos.OrcamentosModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div style="display: flex;">
                        <div class="form-group col-md-4">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Telefone" class="control-label"></label>
                            <input asp-for="Telefone" class="form-control phone_with_ddd" />
                            <span asp-validation-for="Telefone" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Celular" class="control-label"></label>
                            <input asp-for="Celular" class="form-control phone_with_ddd" />
                            <span asp-validation-for="Celular" class="text-danger"></span>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="form-group col-md-4">
                            <label asp-for="Estado" class="control-label"></label>
                            <input asp-for="Estado" class="form-control" />
                            <span asp-validation-for="Estado" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Cidade" class="control-label"></label>
                            <input asp-for="Cidade" class="form-control" />
                            <span asp-validation-for="Cidade" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Bairro" class="control-label"></label>
                            <input asp-for="Bairro" class="form-control" />
                            <span asp-validation-for="Bairro" class="text-danger"></span>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="form-group col-md-6">
                            <label asp-for="Rua" class="control-label"></label>
                            <input asp-for="Rua" class="form-control" />
                            <span asp-validation-for="Rua" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="NumeroCasa" class="control-label"></label>
                            <input asp-for="NumeroCasa" class="form-control" />
                            <span asp-validation-for="NumeroCasa" class="text-danger"></span>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="form-group col-md-6">
                            <label asp-for="TipoId" class="control-label"></label>
                            <select asp-for="TipoId" class="form-control" asp-items="ViewBag.TipoId"></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="DataCadastro" class="control-label"></label>
                            <input asp-for="DataCadastro" class="form-control" />
                            <span asp-validation-for="DataCadastro" class="text-danger"></span>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="form-group">
                            <div class="form-group col-md-6">
                                <label asp-for="Imagem" class="control-label"></label>
                                <input type="file" asp-for="Imagem" class="form-control form-control-sm" id="formFile" accept=".jpg,.jpeg" />
                                <span asp-validation-for="Imagem" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <img src="" class="img-fluid" id="PreviewImagem" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" value="Create" class="btn btn-dark">Salvar</button>
                        <a asp-action="Index" class="btn btn-danger">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('.phone_with_ddd').mask('(00) 00000-0000');
        });
    </script>

    <script>
        $(document).ready(function () {
            window.addEventListener('load', function () {
                document.querySelector('input[type="file"]').addEventListener('change', function () {
                    if (this.files && this.files[0]) {
                        var img = document.getElementById("PreviewImagem");
                        img.src = URL.createObjectURL(this.files[0]); // Cria a imagem na memoria do navegador
                    }
                });
            });
        });
    </script>
}
