@model Vidracaria_Portal.Models.Administrador.Cadastros.AluminiosModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h1>Edit</h1>

<h4>AluminiosModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodigoAluminio" />
            <div class="form-group">
                <label asp-for="NomeAluminio" class="control-label"></label>
                <input asp-for="NomeAluminio" class="form-control" />
                <span asp-validation-for="NomeAluminio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorId" class="control-label"></label>
                <input asp-for="CorId" class="form-control" />
                <span asp-validation-for="CorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpessuraId" class="control-label"></label>
                <input asp-for="ExpessuraId" class="form-control" />
                <span asp-validation-for="ExpessuraId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstoqueMaximo" class="control-label"></label>
                <input asp-for="EstoqueMaximo" class="form-control" />
                <span asp-validation-for="EstoqueMaximo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstoqueMinimo" class="control-label"></label>
                <input asp-for="EstoqueMinimo" class="form-control" />
                <span asp-validation-for="EstoqueMinimo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoVenda" class="control-label"></label>
                <input asp-for="PrecoVenda" class="form-control" />
                <span asp-validation-for="PrecoVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoFabrica" class="control-label"></label>
                <input asp-for="PrecoFabrica" class="form-control" />
                <span asp-validation-for="PrecoFabrica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagem" class="control-label"></label>
                <input asp-for="Imagem" class="form-control" />
                <span asp-validation-for="Imagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCadastro" class="control-label"></label>
                <input asp-for="DataCadastro" class="form-control" />
                <span asp-validation-for="DataCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
