@model Vidracaria_Portal.Models.Administrador.Cadastros.FerragensModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h1>Create</h1>

<h4>FerragensModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodigoFerragem" class="control-label"></label>
                <input asp-for="CodigoFerragem" class="form-control" />
                <span asp-validation-for="CodigoFerragem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeFerragem" class="control-label"></label>
                <input asp-for="NomeFerragem" class="form-control" />
                <span asp-validation-for="NomeFerragem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorFerragem" class="control-label"></label>
                <input asp-for="CorFerragem" class="form-control" />
                <span asp-validation-for="CorFerragem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstoqueMaximo" class="control-label"></label>
                <input asp-for="EstoqueMaximo" class="form-control" />
                <span asp-validation-for="EstoqueMaximo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstoqueMinimo" class="control-label"></label>
                <input asp-for="EstoqueMinimo" class="form-control" />
                <span asp-validation-for="EstoqueMinimo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoVenda" class="control-label"></label>
                <input asp-for="PrecoVenda" class="form-control" />
                <span asp-validation-for="PrecoVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoFabrica" class="control-label"></label>
                <input asp-for="PrecoFabrica" class="form-control" />
                <span asp-validation-for="PrecoFabrica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagem" class="control-label"></label>
                <input asp-for="Imagem" class="form-control" />
                <span asp-validation-for="Imagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
