@model Vidracaria_Portal.Models.Administrador.Cadastros.AgendaModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CodigoAgenda" />
                    <div style="display: flex;">
                        <div class="form-group col-md-4" style="margin-left: -16px;">
                            <label asp-for="Assunto" class="control-label"></label>
                            <input asp-for="Assunto" class="form-control" />
                            <span asp-validation-for="Assunto" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4" style="margin-left: 20px;">
                            <label asp-for="DataCadastro" class="control-label"></label>
                            <input asp-for="DataCadastro" class="form-control" />
                            <span asp-validation-for="DataCadastro" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4" style="margin-left: 12px;">
                            <label asp-for="DataLimite" class="control-label"></label>
                            <input asp-for="DataLimite" class="form-control" />
                            <span asp-validation-for="DataLimite" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Texto" class="control-label"></label>
                        <textarea asp-for="Texto" class="form-control"></textarea>
                        <span asp-validation-for="Texto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" value="Save" class="btn btn-dark">Salvar</button>
                        <a asp-action="Index" class="btn btn-danger">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
