@{ ViewData["title"] = "Galeria";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml"; }

@section Styles{
    <style>
        .sombra {
            box-shadow: -1px -1px 12px 5px rgba(0,0,0,0.75);
            -webkit-box-shadow: -1px -1px 12px 5px rgba(0,0,0,0.75);
            -moz-box-shadow: -1px -1px 12px 5px rgba(0,0,0,0.75);
        }
    </style>
}

<section id="hero" style="background: url('../img/Banner/banner4.jpg'); height: 300px; width: 100%;" class="d-flex align-items-center">
</section>

<div class="container sombra" style="margin-top: 60px; margin-bottom: 60px;">
    <div class="section-title" >
        <span style="margin-top: 20px;">Galeria</span>
        <h2 style="margin-top: 20px;">Galeria</h2>
    </div>
    <div class="row">

        <div class="col-md-4" style="margin-top:12px;">
            <a style="object-fit: cover;" href="~/img/Galeria/1.png" data-lightbox="conjuntoPrincipal" data-title="Espelhos"><img style="object-fit: cover;  height: 300px; width: 100%; " src="~/img/Galeria/1.png" /></a>
        </div>
        <div class="col-md-4" style="margin-top:12px;">
            <a style="object-fit: cover;" href="~/img/Galeria/10.png" data-lightbox="conjuntoPrincipal" data-title="Aquários"><img style="object-fit: cover;  height: 300px; width: 100%; " src="~/img/Galeria/10.png" /></a>
        </div>
        <div class="col-md-4" style="margin-top:12px;">
            <a style="object-fit: cover;" href="~/img/Galeria/11.png" data-lightbox="conjuntoPrincipal" data-title="Gaveteiro"><img style="object-fit: cover;  height: 300px; width: 100%; " src="~/img/Galeria/11.png" /></a>
        </div>

        <div class="col-md-4" style="margin-top:12px;">
            <a style="object-fit: cover;" href="~/img/Galeria/13.png" data-lightbox="conjuntoPrincipal" data-title="Persianas"><img style="object-fit: cover;  height: 300px; width: 100%; " src="~/img/Galeria/13.png" /></a>
        </div>
        <div class="col-md-4" style="margin-top:12px;">
            <a style="object-fit: cover;" href="~/img/Galeria/14.png" data-lightbox="conjuntoPrincipal" data-title="Persianas"><img style="object-fit: cover;  height: 300px; width: 100%; " src="~/img/Galeria/14.png" /></a>
        </div>
        <div class="col-md-4" style="margin-top:12px;">
            <a style="object-fit: cover;" href="~/img/Galeria/15.png" data-lightbox="conjuntoPrincipal" data-title="Toldos"><img style="object-fit: cover;  height: 300px; width: 100%; " src="~/img/Galeria/15.png" /></a>
        </div>

        <div class="col-md-4" style="margin-top:12px;">
            <a style="object-fit: cover;" href="~/img/Galeria/17.png" data-lightbox="conjuntoPrincipal" data-title="Tela Mosqueteira"><img style="object-fit: cover;  height: 300px; width: 100%; " src="~/img/Galeria/17.png" /></a>
        </div>
        <div class="col-md-4" style="margin-top:12px;">
            <a style="object-fit: cover;" href="~/img/Galeria/18.png" data-lightbox="conjuntoPrincipal" data-title="Divisória Eucatex"><img style="object-fit: cover;  height: 300px; width: 100%; " src="~/img/Galeria/18.png" /></a>
        </div>
        <div class="col-md-4" style="margin-top:12px;">
            <a style="object-fit: cover;" href="~/img/Galeria/19.png" data-lightbox="conjuntoPrincipal" data-title="Portas"><img style="object-fit: cover;  height: 300px; width: 100%; " src="~/img/Galeria/19.jpg" /></a>
        </div>

        <div class="col-md-4" style="margin-top:12px;">
            <a style="object-fit: cover;" href="~/img/Galeria/21.png" data-lightbox="conjuntoPrincipal" data-title="Portas de Vidro"><img style="object-fit: cover;  height: 300px; width: 100%; " src="~/img/Galeria/21.png" /></a>
        </div>
        <div class="col-md-4" style="margin-top:12px;">
            <a style="object-fit: cover;" href="~/img/Galeria/20.png" data-lightbox="conjuntoPrincipal" data-title="Esquadria da Alumínio"><img style="object-fit: cover;  height: 300px; width: 100%; " src="~/img/Galeria/20.jpg" /></a>
        </div>
        <div class="col-md-4" style="margin-top:12px;">
            <a style="object-fit: cover;" href="~/img/Galeria/22.png" data-lightbox="conjuntoPrincipal" data-title="Conjunto de Pias"><img style="object-fit: cover;  height: 300px; width: 100%; " src="~/img/Galeria/22.png" /></a>
        </div>

        <div class="col-md-4" style="margin-top:12px; margin-bottom: 12px;">
            <a style="object-fit: cover;" href="~/img/Galeria/24.png" data-lightbox="conjuntoPrincipal" data-title="Portinhas de Alumínios"><img style=" height: 300px; width: 100%;  object-fit: cover;" src="~/img/Galeria/24.png" /></a>
        </div>
        <div class="col-md-4" style="margin-top:12px; margin-bottom: 12px;">
            <a style="object-fit: cover;" href="~/img/Galeria/25.png" data-lightbox="conjuntoPrincipal" data-title="Vidros com Adesivo"><img style=" height: 300px; width: 100%;   object-fit: cover;" src="~/img/Galeria/25.png" /></a>
        </div>
        <div class="col-md-4" style="margin-top:12px; margin-bottom: 12px;">
            <a style="object-fit: cover;" href="~/img/Galeria/26.png" data-lightbox="conjuntoPrincipal" data-title="Portas de Acrílico"><img style=" height: 300px; width: 100%;   object-fit: cover;" src="~/img/Galeria/26.png" /></a>
        </div>

    </div>
</div>

@section Scripts{
    <script>

    </script>
}