@{ ViewData["title"] = "Serviços";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml"; }

@section Styles{
    <style>
        .card {
            height: 350px;
            box-shadow: 0px 2px 7px 6px rgba(0,0,0,0.59);
            -webkit-box-shadow: 0px 2px 7px 6px rgba(0,0,0,0.59);
            -moz-box-shadow: 0px 2px 7px 6px rgba(0,0,0,0.59);
        }

        img {
            background-size: cover;
            object-fit: cover;
            height: 300px;
        }

        h5{
            letter-spacing: 0.5px;
            color: #343a40;
        }
    </style>
}

<section id="hero" style="background: url('../img/Banner/banner4.jpg'); height: 300px;" class="d-flex align-items-center">
</section>

<section class="container">
    <div class="section-title">
        <span>Serviços</span>
        <h2>Serviços</h2>
    </div>
    <div class="row" style="display: flex; justify-content: center;">
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/Aquario.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Aquários</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/Basculante.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Basculante</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/BoxAcrilico.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Box de Acrílico</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/BoxVidro.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Box de Vidro</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/CorrimaAluminio.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Corrimão de Almunínio</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/DivisoriaEucatex.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Divisória Eucatex</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/Espelho.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Espelhos</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/EsquadriaAluminio.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Esquadria de Alumínio</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/ForroPVC.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Forro de PVC</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/GaveteiroAluminio.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Gaveteiro de Alumínio</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/GuardaCorpo.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Guarda Corpo</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/JanelaVidro.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Janela de Vidro</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/KitPia.jpeg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Kit de Pia</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/PersianaHorizontal.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Persiana Horizontal</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/PersianaVertical.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Persiana Vertical</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/PortaAcrilicoPia.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Porta Acrílico de Pia</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/PortaAdesivo.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Porta com Adesivo</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/PortaAluminio.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Porta de Alumínio</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/PortaAutomatizada.jpeg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Porta Automatizada</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/PortalPelicula.jpeg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Porta com Pelicula</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/PortaoAluminio.jpeg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Portão de Alumínio</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/PortaPivotante.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Porta Pivotante</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/PortaSanfonada.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Porta Sanfonada</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/PortaVidro.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Porta de Vidro</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/PrateleiraVideo.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Prateleira de Vidro</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/QuadroMoldura.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Quadro com Moldura</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/TelaMosqueteira.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Tela Mosqueteira</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/Toldo.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Toldo</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/VidroComum.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Vidro Comum</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <img class="card-img-top" src="~/img/services/VidroMesa.png" alt="">
                <div class="card-body">
                    <h5 class="card-title">Vidro de Mesa</h5>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{

}