@model IEnumerable<Vidracaria_Portal.Models.Administrador.Cadastros.ServicosModel>

@{ ViewData["title"] = "Serviços";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml"; }

@section Styles{
    <style>
        .card {
            height: 350px;
            box-shadow: 0px 2px 7px 6px rgba(0,0,0,0.59);
            -webkit-box-shadow: 0px 2px 7px 6px rgba(0,0,0,0.59);
            -moz-box-shadow: 0px 2px 7px 6px rgba(0,0,0,0.59);
        }

        img {
            background-size: cover;
            object-fit: cover;
            height: 300px;
        }

        h5 {
            letter-spacing: 0.5px;
            color: #343a40;
        }
    </style>
}

<section id="hero" style="background: url('../img/Banner/banner4.jpg'); height: 300px;" class="d-flex align-items-center">
</section>

<section class="container">
    <div class="section-title">
        <span>Serviços</span>
        <h2>Serviços</h2>
    </div>
    <div class="row" style="display: flex; justify-content: center;">
        @foreach (var ser in Model)
        {
        <div class="col-md-4" style="margin-top:25px; display:flex; justify-content: center;">
            <div class="card" style="width: 22rem;">
                <a style="object-fit: cover;" href="@( System.IO.File.Exists(ViewData["CaminhoImagem"] + "/" + ser.Imagem) ?
                                                Url.Content("~/" + ser.Imagem) : Url.Content("/imagensSaves/sem_foto.png") )" data-lightbox="conjuntoPrincipal" data-title="Serviços">
                    <img style="object-fit: cover; width: 100%;" src="@( System.IO.File.Exists(ViewData["CaminhoImagem"] + "/" + ser.Imagem) ?
                                                Url.Content("~/" + ser.Imagem) : Url.Content("/imagensSaves/sem_foto.png") )" />
                </a>
                <div class="card-body">
                    <h5 style="font-weight: bold; letter-spacing: 1px; font-size: 21px; margin-top: -7px;" class="card-title">@(ser.NomeServico)</h5>
                </div>
            </div>
        </div>
        }
    </div>
</section>

@section Scripts{

}