@{ ViewData["title"] = "Sobre";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml"; }

@section Styles{

}

<section id="hero" style="background: url('../img/Banner/banner4.jpg'); height: 300px;" class="d-flex align-items-center">
</section>

<section id="about" class="about">
    <div class="container">
        <div class="section-title">
            <span>Sobre</span>
            <h2>Sobre</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2">
                <img src="~/img/Banner/banner1.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                <h3>Sobre Nós.</h3>
                <p style="text-align: justify;">
                    Nascida na cidade de Barra Bonita, com transparência e qualidade pra você, a vidraçaria Portal está há
                    mais de 7 anos no mercado. Com inteligência e inovação, oferecemos o que tem de melhor ao cliente.
                    Desenvolvendo projetos baseados na modernidade, que compõem o ambiente de forma sofisticada, com o
                    conforto e durabilidade que o cliente procura.
                </p>
            </div>
        </div>

    </div>
</section>

<section id="team" class="team">
    <div class="container">

        <div class="section-title">
            <span>Nosso Time</span>
            <h2>Nosso Time</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <img src="~/img/Time/Rafael.jpg" alt="">
                    <h4>Rafael Martini Gigliotti</h4>
                    <span style="font-size: 16px; color: #343a40">Chefe Executivo</span>
                    <div class="social">
                        <a href=""><i style="font-size: 25px;" class="fab fa-facebook"></i></a>
                        <a href=""><i style="font-size: 25px;" class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <img src="~/img/Time/Samantta.jpg" alt="">
                    <h4>Samantta Cristina Tavano</h4>
                    <span style="font-size: 16px; color: #343a40">Gerente Administrativa</span>
                    <div class="social">
                        <a href=""><i style="font-size: 25px;" class="fab fa-facebook"></i></a>
                        <a href=""><i style="font-size: 25px;" class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                    <img src="~/img/Time/junior.jpg" alt="">
                    <h4>Junior Silverio</h4>
                    <span style="font-size: 16px; color: #343a40">Colaborador</span>
                    <div class="social">
                        <a href=""><i style="font-size: 25px;" class="fab fa-facebook"></i></a>
                        <a href=""><i style="font-size: 25px;" class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" style="margin: 0 auto; display: flex; justify-content: space-evenly;">
                <div class="member">
                    <img src="~/img/Time/Gabriel.jpg" alt="">
                    <h4>Gabriel Pastore</h4>
                    <span style="font-size: 16px; color: #343a40">Colaborador</span>
                    <div class="social">
                        <a href=""><i style="font-size: 25px;" class="fab fa-facebook"></i></a>
                        <a href=""><i style="font-size: 25px;" class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" style="margin: 0 auto; display: flex; justify-content: space-evenly;">
                <div class="member">
                    <img src="~/img/Time/antonio.jpeg" alt="">
                    <h4>Antônio</h4>
                    <span style="font-size: 16px; color: #343a40">Colaborador</span>
                    <div class="social">
                        <a href=""><i style="font-size: 25px;" class="fab fa-facebook"></i></a>
                        <a href=""><i style="font-size: 25px;" class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
@section Scripts{

}