@model Vidracaria_Portal.Models.Administrador.Cadastros.VidrosComunsModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div style="display: flex;">
                        <div class="form-group col-md-6">
                            <label asp-for="NomeVidro" class="control-label"></label>
                            <input asp-for="NomeVidro" class="form-control" />
                            <span asp-validation-for="NomeVidro" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Marca" class="control-label"></label>
                            <input asp-for="Marca" class="form-control" />
                            <span asp-validation-for="Marca" class="text-danger"></span>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="form-group col-md-6">
                            <label asp-for="AdesivoId" class="control-label"></label>
                            <select asp-for="AdesivoId" class="form-control" asp-items="ViewBag.AdesivoId"></select>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="PeliculaId" class="control-label"></label>
                            <select asp-for="PeliculaId" class="form-control" asp-items="ViewBag.PeliculaId"></select>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="form-group col-md-4">
                            <label asp-for="ExpessuraId" class="control-label"></label>
                            <select asp-for="ExpessuraId" class="form-control" asp-items="ViewBag.ExpessuraId"></select>
                            <span asp-validation-for="ExpessuraId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="EstoqueMaximo" class="control-label"></label>
                            <input asp-for="EstoqueMaximo" class="form-control" />
                            <span asp-validation-for="EstoqueMaximo" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="EstoqueMinimo" class="control-label"></label>
                            <input asp-for="EstoqueMinimo" class="form-control" />
                            <span asp-validation-for="EstoqueMinimo" class="text-danger"></span>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="form-group col-md-6">
                            <label asp-for="PrecoVenda" class="control-label"></label>
                            <input asp-for="PrecoVenda" class="form-control mask" />
                            <span asp-validation-for="PrecoVenda" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="PrecoFabrica" class="control-label"></label>
                            <input asp-for="PrecoFabrica" class="form-control mask" />
                            <span asp-validation-for="PrecoFabrica" class="text-danger"></span>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="form-group col-md-6">
                            <label asp-for="Imagem" class="control-label"></label>
                            <input type="file" asp-for="Imagem" class="form-control form-control-sm" id="formFile" accept=".jpg,.jpeg,.png" />
                            <span asp-validation-for="Imagem" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <img src="" class="img-fluid" id="PreviewImagem" />
                        </div>
                    </div>
                    <div class="form-group" style="margin-left: 16px; margin-right: 15px; width: 100%;">
                        <label asp-for="DataCadastro" class="control-label"></label>
                        <input asp-for="DataCadastro" class="form-control" />
                        <span asp-validation-for="DataCadastro" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" value="Create" class="btn btn-dark">Salvar</button>
                        <a asp-action="Index" class="btn btn-danger">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/lib/mask/mask.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(".mask").mask('000.000.000.000.000.00', { reverse: true });
    </script>

    <script>
        $(document).ready(function () {
            window.addEventListener('load', function () {
                document.querySelector('input[type="file"]').addEventListener('change', function () {
                    if (this.files && this.files[0]) {
                        var img = document.getElementById("PreviewImagem");
                        img.src = URL.createObjectURL(this.files[0]); // Cria a imagem na memoria do navegador
                    }
                });
            });
        });
    </script>
}