@model Vidracaria_Portal.ViewModel.LoginViewModel

@{
    ViewData["title"] = "Login";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="login-box">
    <form asp-action="Login" method="post">
        <div asp-validation-summary="ModelOnly" style="color:white;" hidden></div>
        <h2 class="titulo">Login</h2>

        <div class="user-box">
            <!-- Email de acesso -->
            <input tabindex="1" asp-for=" Email" class="input">
            <span asp-validation-for="Email" style="color:white;"></span>
            <label>Usuário</label>
        </div>
        <div class="user-box">
            <!-- Senha de acesso -->
            <input tabindex="2" asp-for="Senha">
            <span asp-validation-for="Senha" style="color:white;"></span>
            <label>Senha</label>
        </div>
        <div class="control-group">
            <label class="control control-checkbox">
                <!-- Manter Conectado-->
                <input tabindex="3" type="checkbox" asp-for="Manter" />
                <label asp-for="Manter" style="color:white; font-size:16px; letter-spacing:1px;"></label>
                <div class="control_indicator"></div>
            </label>
        </div>
        <div style=" display: flex; align-items: center; justify-content: center;">
            <button  tabindex="4" type="submit" value="submit" id="" class="btn btn-entrar"> Entrar </button>
        </div>
    </form>
</div>
