@model Vidracaria_Portal.Models.Administrador.Cadastros.ClientesModel

@{
    ViewData["Title"] = "Adicionar";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div style="display: flex;">
                        <div class="form-group col-md-6">
                            <label asp-for="NomeCliente" class="control-label"></label>
                            <input asp-for="NomeCliente" class="form-control" />
                            <span asp-validation-for="NomeCliente" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="form-group col-md-6">
                            <label asp-for="CidadeCliente" class="control-label"></label>
                            <input asp-for="CidadeCliente" class="form-control" />
                            <span asp-validation-for="CidadeCliente" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Bairro" class="control-label"></label>
                            <input asp-for="Bairro" class="form-control" />
                            <span asp-validation-for="Bairro" class="text-danger"></span>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="form-group col-md-6">
                            <label asp-for="NumeroCasa" class="control-label"></label>
                            <input asp-for="NumeroCasa" class="form-control" />
                            <span asp-validation-for="NumeroCasa" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="EstadoCliente" class="control-label"></label>
                            <input asp-for="EstadoCliente" class="form-control" />
                            <span asp-validation-for="EstadoCliente" class="text-danger"></span>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="form-group col-md-6">
                            <label asp-for="Celular" class="control-label"></label>
                            <input asp-for="Celular" class="form-control phone_with_ddd" />
                            <span asp-validation-for="Celular" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Documento" class="control-label"></label>
                            <input id="doc" asp-for="Documento" class="form-control cpf cnpj" />
                            <span asp-validation-for="Documento" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="DataCadastro" class="control-label"></label>
                        <input asp-for="DataCadastro" class="form-control" />
                        <span asp-validation-for="DataCadastro" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="margin-left: 16px;"> 
                        <button type="submit" value="Create" class="btn btn-dark">Salvar</button>
                        <a asp-action="Index" class="btn btn-danger">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('.phone_with_ddd').mask('(00) 0000-0000');
            cpfCnpf();
        });

        function cpfCnpf() {
            if (doc.length == 11) {
                $('.cpf').mask('000.000.000-00', { reverse: true });
            } else if (doc.length == 14) {
                $('.cnpj').mask('00.000.000/0000-00', { reverse: true });
            }
        }
    </script>
}
