@model Vidracaria_Portal.Models.Administrador.Cadastros.ClientesModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<div class="container">
    <div class="content">

        <h1>Deseja deletar esse Cliente ?</h1>

        <form asp-action="Delete" style="padding-bottom: 50px;">
            <input type="hidden" asp-for="CodigoCliente" />
            <button type="submit" value="Delete" class="btn btn-dark">Deletar</button>
            <button asp-action="Index" class="btn btn-danger">Voltar</button>
        </form>
    </div>
</div>
